<footer>
  <nav class="w-[1920px] h-[160px] px-[370px] py-10 bg-gray-1">
    <div class="flex justify-between">
      <div class="flex">
        <div class="font-mont font-semibold text-gray-3 mr-[30px]">Home</div>
        <div class="font-mont font-semibold text-gray-3 mr-[30px]">
          Textbook
        </div>
        <div class="font-mont font-semibold text-gray-3 mr-[30px]">
          Statistics
        </div>
        <div class="font-mont font-semibold text-gray-3 mr-[30px]">Sprint</div>
        <div class="font-mont font-semibold text-gray-3">Audio-call</div>
      </div>
      <div class="flex">
        <div class="font-mont font-semibold text-gray-3 mr-[30px]">Alex</div>
        <div class="font-mont font-semibold text-gray-3 mr-[30px]">Gabriel</div>
        <div class="font-mont font-semibold text-gray-3">Marcus</div>
      </div>
    </div>
    <div class="w-[100%] bg-gray-2 h-[1px] mt-[20px] mb-[20px]"></div>
    <div class="flex justify-between h-[26px]">
        <div class="flex">
          <img class="font-mont font-semibold text-gray-3 mr-[30px]" [src]="footerImg1">
          <img class="font-mont font-semibold text-gray-3 mr-[30px]" [src]="footerImg2">

          <img class="font-mont font-semibold text-gray-3" [src]="footerImg3">
        </div>
        <div class="flex">
          <div class="font-mont font-semibold text-[12px] text-gray-3">©2021 GlobalTalk. Project for <a href="#" class="underline"> GlobalTalk.</a></div>
        </div>
      </div>



  </nav>
</footer>
