<div
  class="w-[1920px] min-h-[calc(100vh - 40px)] h-[762px] px-[528px] py-[100px] bg-gray-1 flex-col justify-center items-center gap-2.5 inline-flex"
>
  <div
    class="bg-white-1 w-[792px] h-[440px] py-[20px] px-[40px] rounded-[14px] shadow"
  >
    <div class="inline-flex items-center justify-between">
      <div><img [src]="homeImg1" title="running" /></div>
      <div class="ml-[10px] w-[452px] h-[282px]">
        <div class="inline-flex items-center">
          <div
            class="text-black-1 text-5xl font-dela font-normal leading-[48px] mr-[8px]"
          >
            Sprint
          </div>
          <div
            class="w-[79px] h-[25px] px-2 py-1 bg-cyan-2 rounded-md justify-start items-start gap-2.5 inline-flex"
          >
            <div
              class="text-cyan-1 text-xs font-semibold leading-none font-mont whitespace-nowrap"
            >
              speed task
            </div>
          </div>
        </div>
        <div
          class="w-[458.33px] font-mont text-gray-3 text-base font-semibold leading-snug mt-[10px] mb-[30px]"
        >
          Trains the skill of fast translation. You have to choose if the
          translation corresponds to the suggested word.
        </div>
        <div
          class="w-[396.89px] text-gray-3 font-mont text-sm font-semibold leading-tight mb-[5px]"
        >
          Choose a level:
        </div>
        <div class="w-[452px] h-11 justify-start items-start gap-6 inline-flex">
          <div
            class="px-[13px] py-3.5 rounded-[100px] border-[3px] border-cyan-1 justify-center items-center gap-[19px] flex"
          >
            <div class="text-cyan-1 text-base font-bold leading-none font-mont">
              A1
            </div>
          </div>
          <div
            class="px-[11px] py-3.5 rounded-[100px] border-[3px] border-yellow-1 justify-center items-center gap-[19px] flex"
          >
            <div
              class="text-orange-400 text-base font-bold leading-none font-mont"
            >
              A2
            </div>
          </div>
          <div
            class="px-[13px] py-3.5 bg-red-500 bg-opacity-30 border-[3px] rounded-[100px] border border-orange-1 bg-orange-1 justify-center items-center gap-[19px] flex"
          >
            <div
              class="text-orange-1 text-base font-bold leading-none font-mont"
            >
              B1
            </div>
          </div>
          <div
            class="px-[11px] py-3.5 rounded-[100px] border-[3px] border-red-1 justify-center items-center gap-[19px] flex"
          >
            <div class="text-red-1 text-base font-bold leading-none font-mont">
              B2
            </div>
          </div>
          <div
            class="px-[13px] py-3.5 rounded-[100px] border-[3px] border-pink-1 justify-center items-center gap-[19px] flex"
          >
            <div class="text-pink-1 text-base font-bold leading-none font-mont">
              C1
            </div>
          </div>
          <div
            class="px-[11px] py-3.5 rounded-[100px] border-[3px] border-cyan-3 justify-center items-center gap-[19px] flex"
          >
            <div class="text-cyan-3 text-base font-bold leading-none font-mont">
              C2
            </div>
          </div>
        </div>
        <div
          class="w-[139px] h-11 px-[22px] py-3.5 bg-cyan-1 rounded-[100px] gap-2.5 mt-[30px] relative"
        >
          <div
            class="text-white-1 text-base font-mont font-bold leading-none whitespace-nowrap absolute"
          >
            Get started
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
