<div class="bg-gray-1 w-[1920px] px-[370px] pb-6 pt-0">
  <div class="h-[700px] relative">
    <div class="top-[6rem] w-[531px] h-[511px] absolute">
      <div
        class="text-cyan-1 text-[16px] not-italic font-bold font-mont uppercase leading-none tracking-widest"
      >
        E-COURSE PLATFORM
      </div>
      <div
        class="w-[531px] text-black-1 text-[56px] font-dela leading-[67.20px] mt-[24px]"
      >
        Learning and<br />teaching online,<br />made easy.
      </div>
      <div
        class="w-[384.89px] h-[50px] text-gray-3 text-[18px] font-semibold leading-[25.20px] mt-[30px] text-left"
      >
        Practice your English and learn new things with the platform.
      </div>
      <div class="group w-[165px]">
        <div
          class="px-[22px] py-3.5 bg-cyan-2 rounded-[100px] justify-center items-center gap-[19px] inline-flex mt-[24px] group-hover:bg-cyan-1 cursor-pointer"
        >
          <div
            class="text-cyan-1 group-hover:text-white-1 font-mont text-[16px] font-bold leading-none items-center whitespace-nowrap cursor-pointer"
          >
            About platform
          </div>
        </div>
      </div>

      <div class="w-[353px] h-[65px] mt-[48.78px]">
        <div class="inline-flex justify-between">
          <div class="flex flex-col mr-[20px]">
            <div class="inline-flex h-[40px] items-center">
              <img [src]="homeImg1" class="h-[30px]" />
              <div class="ml-[6px]">
                <span
                  class="text-black-1 font-dela text-[40px] font-normal leading-10"
                  >600</span
                ><span
                  class="text-cyan-1 font-dela text-[40px] font-normal leading-10"
                  >+</span
                >
              </div>
            </div>
            <div
              class="text-gray-4 text-[16px] font-mont font-semibold leading-snug w-[112px] h-[22px] whitespace-nowrap ml-[24px]"
            >
              Popular words
            </div>
          </div>
          <div
            class="border-l-[2px] items-center my-[7px] border-gray-1 h-[48.777px] w-0 ml-[48.78px]"
          ></div>
          <div class="flex flex-col ml-[48.78px]">
            <div class="inline-flex h-[40px] items-center pl-[30px]">
              <img [src]="homeImg2" class="h-[30px]" />
              <div class="ml-[6px]">
                <span
                  class="text-black-1 font-dela text-[40px] font-normal leading-10 text-right"
                  >2</span
                ><span
                  class="text-cyan-1 font-dela text-[40px] font-normal leading-10 text-right"
                  >+</span
                >
              </div>
            </div>
            <div
              class="text-gray-4 text-[16px] font-mont font-semibold leading-snug w-[112px] h-[22px] whitespace-nowrap ml-[24px]"
            >
              Mini Games
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="absolute top-[296px] bottom-[233px] left-[515.6px] right-[521.4px]"
    >
      <img [src]="homeImg4" class="" />
    </div>
    <div
      class="top-[109px] right-[19.4px] left-[551.86px] bottom-[83.72px] absolute"
    >
      <img [src]="homeImg3" class="" />
    </div>
    <div
      class="top-[109px] right-[19.4px] left-[880.86px] bottom-[83.72px] relative"
    >
      <img [src]="homeImg5" class="" />
    </div>
  </div>
</div>
<div class="bg-white-1 w-[1920px] px-[370px] pb-6 pt-0">
  <div class="h-[600px] relative">
    <div class="absolute left-[0px] bottom-[77.5px] top-[77.5px]">
      <img [src]="homeImg6" class="" />
    </div>
    <div class="absolute top-[121.5px] bottom-[127px] right-0">
      <div
        class="font-dela w-[496.46px] text-black-1 text-5xl font-normal leading-[48px]"
      >
        Learn a language in a playful way
      </div>
      <div
        class="w-[396.89px] text-gray-3 font-mont text-lg font-semibold leading-[25.20px] mt-[30px] mb-[63px]"
      >
        Make learning words more fun with mini-games
      </div>
      <div class="inline-flex">
        <div class="mr-[21.1px]">
          <img [src]="homeImg7" class="bottom-[39px] absolute" />
          <div routerLink="/sprint"
            class="w-[129px] h-[112px] px-[22px] py-3.5 bg-pink-1 rounded-[14px] justify-center items-end gap-[19px] inline-flex"
          >
            <div
              class="text-pink-2 text-base font-bold leading-none font-mont cursor-pointer"
            >
              Sprint →
            </div>
          </div>
        </div>
        <div>
          <img [src]="homeImg8" class="bottom-[39px] absolute mx-[40px]" />
          <div routerLink="/sprint"
            class="w-[172px] h-[112px] px-[22px] py-3.5 bg-cyan-2 rounded-[14px] justify-center items-end gap-[19px] inline-flex"
          >
            <div
              class="text-cyan-1 text-base font-bold leading-none font-mont cursor-pointer"
            >
              Sprint →
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-gray-1 w-[1920px] px-[370px] pb-0 pt-[26px]">
  <div class="h-[500px] relative">
    <div class="absolute top-[121.5px] bottom-[127px] left-0">
      <div
        class="w-[474.46px] text-black-1 font-dela text-5xl font-normal leading-[48px]"
      >
        Increase your vocabulary
      </div>
      <div
        class="w-[396.89px] text-gray-3 font-mont text-lg font-semibold leading-[25.20px] mt-[30px] mb-[34px]"
      >
        Traditional and new effective approaches to word study
      </div>
      <div class="group w-[131px] cursor-pointer">
        <div
        class="  px-[22px] py-3.5 bg-cyan-2 rounded-[100px] justify-center items-center gap-[19px] inline-flex group-hover:bg-cyan-1"
      >
        <div
          class="text-cyan-1 text-base font-bold leading-none whitespace-nowrap cursor-pointer group-hover:text-white-1"
        >
          Textbook →
        </div>
      </div>
      </div>
    
    </div>
    <div class="absolute right-0 bottom-0 top-[26px]">
      <img [src]="homeImg9" class="" />
    </div>
  </div>
</div>
<div class="bg-white-1 w-[1920px] px-[370px] pb-6 pt-0">
  <div class="h-[600px] relative">
    <div class="absolute left-[0px] bottom-[77.5px] top-[77.5px]">
      <img [src]="homeImg10" class="" />
    </div>
    <div class="absolute top-[121.5px] bottom-[127px] right-0">
      <div
        class="font-dela w-[475.46px] text-black-1 text-5xl font-normal leading-[48px]"
      >
        Watch your progress every day
      </div>
      <div
        class="w-[415.89px] text-gray-3 mt-[30px] mb-[34px] font-mont text-lg font-semibold leading-[25.20px]"
      >
        Save statistics on your achievements, words learned, and mistakes
      </div>
      <div class="group w-[129px] cursor-pointer ">
        <div
          class="px-[22px] py-3.5 bg-cyan-2 rounded-[100px] justify-center items-center gap-[19px] inline-flex group-hover:bg-cyan-1"
        >
          <div
            class="text-cyan-1 text-base font-bold leading-none  group-hover:text-white-1"
          >
            Statistics →
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
