<div
  class="w-[1920px] min-h-[calc(100vh - 40px)] h-[760px] px-[528px] py-[50px] bg-gray-1 flex-col jus items-center gap-2.5 inline-flex"
>
<div class="bg-white-1 w-[1440px] h-[700px]  rounded-[14px]  flex inline-flex item ">
<div class="w-[492px] flex flex-col mt-[150px] ml-[123px]" >
    <div class="text-black-1 font-mont text-3xl font-medium">Sign in</div>
    <div class="w-[332px] font-mont text-black-1 text-base font-normal mt-[22px]">If you don't have an account register</div>
    <div class="w-[308px]"><span class="text-black-1 font-mont text-base font-normal">You can   </span><span class="text-cyan-3 text-base font-mont font-semibold hover:text-cyan-2 cursor-pointer" routerLink="/register" >Register here !</span></div>


    <form class="mt-[20px]">

      <div class="w-[429px] h-16 relative">
        <div class="left-0 top-0 absolute text-cyan-1 text-[13px] font-medium font-mont">Email</div>
        <input class="placeholder-cyan-1 left-[27px] top-[31px] w-[405px] absolute text-cyan-1 font-mont text-base font-normal focus:border-transparent focus:outline-none focus:ring-0" placeholder="Enter your email">
        <div class="w-[429px] h-0.5 left-0 top-[62px] absolute bg-cyan-2"></div>
        <img class="w-[17px] h-[17px] left-0 top-[35px] absolute origin-top-left" [src] ="registerImg1">
      </div>
      
      <div class="w-[429px] h-16 relative mt-[20px]">
        <div class="left-0 top-0 absolute text-cyan-1 text-[13px] font-medium font-mont">Password</div>
        <input class="placeholder-cyan-1 left-[27px] top-[31px] w-[405px] absolute text-cyan-1 font-mont text-base font-normal focus:border-transparent focus:outline-none focus:ring-0" placeholder="Enter your password">
        <div class="w-[429px] h-0.5 left-0 top-[62px] absolute bg-cyan-2"></div>
        <img class="w-[17px] h-[17px] left-0 top-[35px] absolute origin-top-left" [src] ="registerImg3">
      </div>
      <div class="inline-flex mt-[15px] justify-between">
        <div class="inline-flex">
          <div class="w-[15px] h-[15px] bg-white-1 border-[2px] border-cyan-1 "></div>
          <div class="text-cyan-1 font-mont text-xs font-medium ml-[5px]">Rememeber me</div>
        </div>
        <div class="text-cyan-1 text-xs font-mont font-medium ml-[195px]">Forgot Password ?</div>

      </div>
    
      <div class="w-[429px] h-[53px] bg-cyan-1 rounded-[32px] shadow flex mt-[40px]">
        <div class="text-white-1 text-[17px] font-mont font-medium mx-[175px] my-[14px]">Login</div>
      </div>

    </form>


</div>
   <div class="w-[735px] rounded-r-[12px] bg-cyan-2 ml-[90px] flex-col flex items-center">
     <img [src]="registerImg5" >
  
  </div>


</div>
</div>