<div
  class="w-[1920px] min-h-[calc(100vh - 40px)] h-[762px] px-[528px] py-[100px] bg-gray-1 flex-col jus items-center gap-2.5 inline-flex"
>
<div class="w-[500px] h-[500px] p-[100px] rounded-[400px] border-[8px] border-t-cyan-1 z-10 border-l-cyan-2 border-r-cyan-2 border-b-cyan-2 flex-col items-center inline-flex animate-spin bg-gradient-to-b from-cyan-2 via-white to-cyan-1 absolute"></div>
<div class="w-[500px] h-[500px] p-[100px] rounded-[400px] border-[8px] border-cyan-2   flex-col items-center inline-flex">
    <div class="flex-col  items-center  flex">
        <div class="inline-flex" >
            <div class="w-[84px] h-[65px] flex-col justify-start items-center gap-[3px] inline-flex">
                <div class="text-black-1 text-[40px] font-normal leading-10 font-dela">x2</div>
                <div class="text-gray-2 text-base font-semibold leading-snug tracking-tight font-mont">multiplier</div>
              </div>
              <div class="w-[2px] h-[49px] mx-[48.78px] bg-gray-2 mt-[10px]"></div>
              <div class="w-[84px] h-[65px] flex-col justify-start items-center gap-[3px] inline-flex">
                <div class="text-black-1 text-[40px] font-normal leading-10 font-dela">30</div>
                <div class="text-gray-2 text-base font-semibold leading-snug tracking-tight font-mont">multiplier</div>
              </div>
          
        </div>
        
    </div>
    <div class="flex-col mt-[40px] items-center flex mb-[40px]">
        <div class="inline-flex justify-between flex">
            <div class="text-cyan-1 font-dela text-[26px] font-normal leading-relaxed mr-[10px]">✦</div>
            <div class="text-cyan-2 font-dela text-[26px] font-normal leading-relaxed mr-[10px]">✦</div>
            <div class="text-cyan-2 font-dela text-[26px] font-normal leading-relaxed">✦</div>
        </div>
        <div class="text-black-1 font-dela text-5xl font-normal leading-[48px] mb-[10px]">negative</div>
        <div class="text-cyan-1  font-dela  text-5xl font-normal leading-[48px]">perdre</div>
    </div>
    <div>
        <div class="w-[88px] h-11 px-[22px] py-3.5 bg-cyan-2 rounded-[100px] justify-center items-center gap-[19px] inline-flex mr-[10px]">
            <div class="text-cyan-1 font-mont text-base font-bold leading-none">Right</div>
          </div>
          <div class="w-[100px] h-11 px-[22px] py-3.5 bg-pink-1 rounded-[100px] justify-center items-center gap-[19px] inline-flex">
            <div class="text-pink-2 font-mont text-base font-bold leading-none">Wrong</div>
          </div>
    </div>
</div>
<div class="w-[310px] h-[22px] justify-center items-center gap-1 inline-flex mt-[40px]">
    <div><span class="text-pink-1 font-mont text-xs font-semibold leading-3">*</span><span class="text-gray-1 font-mont text-xs font-semibold leading-3">You can also use the</span></div>
    <div class="px-2 py-1 bg-white-1 rounded-[5px] shadow justify-start items-start gap-2.5 flex">
      <div class="text-gray-1  font-mont text-sm font-semibold leading-[14px]">← →</div>
    </div>
    <div class="text-grat-1  font-mont text-xs font-semibold leading-3">keys on the keyboard</div>
  </div>
</div>