<div
  class="w-[1920px] min-h-[calc(100vh - 40px)] h-[760px] px-[528px] py-[50px] bg-gray-1 flex-col jus items-center gap-2.5 inline-flex"
>
<div class="bg-white-1 w-[1440px] h-[700px]  rounded-[14px]  flex inline-flex item ">
<div class="w-[492px] flex flex-col mt-[50px] ml-[123px]" >
    <div class="text-black-1 font-mont text-3xl font-medium">Sign up</div>
    <div class="w-[332px] font-mont text-black-1 text-base font-normal mt-[22px]">If you already have an account register</div>
    <div class="w-[308px]"><span class="text-black-1 font-mont text-base font-normal">You can   </span><span class="text-cyan-3 text-base font-mont font-semibold hover:text-cyan-2 cursor-pointer" routerLink="/login" >Login here !</span></div>


    <form class="mt-[20px]" [formGroup]="checkoutForm"  (ngSubmit)="submitForm()" >

      <div class="w-[429px] h-16 relative">
        <div class="left-0 top-0 absolute text-cyan-1 text-[13px] font-medium font-mont">User Name</div>
        <input required formControlName ="userName"
         class=" border-transparent-1 focus:border-transparent-1 placeholder-cyan-1 left-[17px] top-[25px] w-[405px] absolute text-cyan-1 font-mont text-base font-normal focus:border-transparent focus:outline-none focus:ring-0" placeholder="Enter your user name">
        <div class="w-[429px] h-0.5 left-0 top-[62px] absolute bg-cyan-2"></div>
        <img class="w-[17px] h-[17px] left-0 top-[35px] absolute origin-top-left" [src] ="registerImg1">
        <div *ngIf="checkoutForm.get('userName').invalid && (checkoutForm.get('userName').dirty || checkoutForm.get('userName').touched)" class="absolute top-[65px] text-red-1 text-[11px] font-medium font-mont">
          <div>{{ getUserNameErrorMessage() }}</div>
        </div>
      </div>
      <div class="w-[429px] h-16 relative mt-[20px]">
        <div class="left-0 top-0 absolute text-cyan-1 text-[13px] font-medium font-mont" email >Email</div>
        <input type="text" required formControlName ="email"
        class="border-transparent-1 focus:border-transparent-1 placeholder-cyan-1 left-[17px] top-[25px] w-[405px] absolute text-cyan-1 font-mont text-base font-normal focus:border-transparent focus:outline-none focus:ring-0" placeholder="Enter your email">
        <div class="w-[429px] h-0.5 left-0 top-[62px] absolute bg-cyan-2"></div>
        <img class="w-[17px] h-[17px] left-0 top-[35px] absolute origin-top-left" [src] ="registerImg2">
        <div *ngIf="checkoutForm.get('email').invalid && (checkoutForm.get('email').dirty || checkoutForm.get('email').touched)" class="absolute top-[65px] text-red-1 text-[11px] font-medium font-mont">
          <div>{{ getEmailErrorMessage() }}</div>
        </div>
      </div>
      <div class="w-[429px] h-16 relative mt-[20px]">
        <div class="left-0 top-0 absolute text-cyan-1 text-[13px] font-medium font-mont">Password</div>
        <input required formControlName ="password" type="password"
        class=" border-transparent-1 focus:border-transparent-1 placeholder-cyan-1 left-[17px] top-[25px] w-[405px] absolute text-cyan-1 font-mont text-base font-normal focus:border-transparent focus:outline-none focus:ring-0" placeholder="Enter your password">
        <div class="w-[429px] h-0.5 left-0 top-[62px] absolute bg-cyan-2"></div>
        <img class="w-[17px] h-[17px] left-0 top-[35px] absolute origin-top-left" [src] ="registerImg3">
        <div *ngIf="checkoutForm.get('password').invalid && (checkoutForm.get('password').dirty || checkoutForm.get('password').touched)" class="absolute top-[65px] text-red-1 text-[11px] font-medium font-mont">
          <div>{{ getPasswordErrorMessage() }}</div>
        </div>
      </div>
      <div class="w-[429px] h-16 relative mt-[20px]">
        <div class="left-0 top-0 absolute text-cyan-1 text-[13px] font-medium font-mont">Confirm Password</div>
        <input required formControlName ="confirmPassword" type="password"
         class="border-transparent-1 focus:border-transparent-1 placeholder-cyan-1 left-[17px] top-[25px] w-[405px] absolute text-cyan-1 font-mont text-base font-normal focus:border-transparent focus:outline-none focus:ring-0" placeholder="Enter your confirm password">
        <div class="w-[429px] h-0.5 left-0 top-[62px] absolute bg-cyan-2"></div>
        <img class="w-[17px] h-[17px] left-0 top-[35px] absolute origin-top-left" [src] ="registerImg4">
        <div *ngIf="checkoutForm.get('confirmPassword').invalid && (checkoutForm.get('confirmPassword').dirty || checkoutForm.get('confirmPassword').touched)" class="absolute top-[65px] text-red-1 text-[11px] font-medium font-mont">
          <div>{{ getConfirmPasswordErrorMessage() }}</div>
        </div>
      </div>
      <div class="group w-[429px] h-[53px] cursor-pointer">
      <button class="w-[429px] h-[53px] bg-cyan-1 rounded-[32px] shadow flex mt-[40px] group-hover:bg-cyan-2" type="submit">
        <div class="text-white-1 text-[17px] font-mont font-medium mx-[175px] my-[14px] group-hover:text-cyan-1">Register</div>
      </button>
      </div>
    </form>


</div>
   <div class="w-[735px] rounded-r-[12px] bg-cyan-2 ml-[90px] flex-col flex items-center ">
     <img  class=" relative bottom-[30px]" [src]="registerImg5" >
  
  </div>


</div>
</div>